{:paths ["src" "resources"]
 :deps {net.clojars.wkok/openai-clojure {:mvn/version "0.5.0"}
        pogonos/pogonos {:mvn/version "0.2.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
